<div>
    <h2>Comparing {{ firstHero?.displayName }} and {{ secondHero?.displayName }}</h2>
</div>

<div class="compare-wrapper">
    <div class="toBeCompared">
        <span>compare {{firstHero!.displayName}} to : </span>
        <app-hero-dropdown [firstHero]="firstHero"
            (heroSelectedEvent)="onHeroSelection($event.firstHero, $event.secondHero)"></app-hero-dropdown>
    </div>
</div>

<app-loader [loading]="loading"></app-loader>

<div class="checkbox-wrapper">
    <app-hero-property-checkboxes [showProperties]="showProperties"
        (selectedProperties)="onPropertySelection($event)"></app-hero-property-checkboxes>
</div>


<div *ngIf="!loading">
    <div class="hero-wrapper">
        <div class="hero-card">
            <app-hero-card [hero]="firstHero" [compareHero]="secondHero" [selectedProperties]="showProperties"
                [isComparing]="true"></app-hero-card>
        </div>
        <div class="hero-card isComparing">
            <app-hero-card [hero]="secondHero" [compareHero]="firstHero" [selectedProperties]="showProperties"
                [isComparing]="true"></app-hero-card>
        </div>
    </div>
</div>