<table class="properties-table">
    <thead>
      <tr>
        <th></th>
        <th class="display-name">{{ hero?.displayName }}</th>
        <th class="zScore-header">Z-Score</th>
        <!-- <ng-container *ngIf="secondHero">
          <th class="display-name">{{ secondHero?.displayName }}</th>
        </ng-container> -->
        </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let property of showProperties">
        <tr *ngIf="property.checked">
          <td class="property-name">{{ isComparing ? '' : property.name | transformedProperties }}</td>
          <td class="property-value">{{  hero && hero.stat && hero.stat[property.name]| round:property.name }}</td>
          <app-hero-properties-zscore [firstHero]="hero" [propertyName]="property.name"></app-hero-properties-zscore>
          <!-- <ng-container *ngIf="secondHero && secondHero.displayName">
            <td class="property-value">{{  secondHero && secondHero.stat && secondHero.stat[property.name] | round:property.name }}</td>
            <app-hero-properties-zscore [secondHero]="secondHero" [propertyName]="property.name"></app-hero-properties-zscore>
          </ng-container> -->
        </tr>
      </ng-container>
    </tbody>
  </table>