<table class="properties-table">
  <thead>
    <tr>
      <th class="display-header" colspan="4">
        <img class="hero-header-small-img" [src]="(hero?.displayName!| heroImages).smallImage" /><br>
        <div class="display-name">
          <img class="property-img inverted" [src]="attackTypeIcons[hero.stat.attackType]" />
          {{ hero?.displayName }}
          <img class="property-img" [src]="(primaryStatsIcons[hero.stat.primaryAttributeEnum]).icon" />
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let property of selectedProperties">
      <tr *ngIf="property.checked">
        <td><img class="property-img" [src]="(property.name | transformedProperties).icon" /></td>
        <td class="property-name">{{(property.name | transformedProperties).displayName }}</td>
        <td class="property-value">
          <div
            [ngClass]="{'arrow-up': isComparing && getComparisonClass(property.name) === 'arrow-up', 'arrow-down': isComparing && getComparisonClass(property.name) === 'arrow-down'}">
            {{ hero && hero.stat && hero.stat[property.name] | round:property.name }}</div>
          <span class="property-value"><app-hero-properties-zscore [hero]="hero" [propertyName]="property.name"
              [propertyValue]="hero.stat[property.name]"></app-hero-properties-zscore>
          </span>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>