<!-- {{firstHero?.displayName}}

{{secondHero?.displayName}}

<div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
  </div>

  <div class="property-checkboxes">
    <div *ngFor="let property of showProperties">
      <label class="property-checkbox">
        <input type="checkbox" [(ngModel)]="property.checked"><span>{{ property.name }}</span>
      </label>
    </div>
  </div>
  
  <div *ngIf="!loading">
    <div><h2>{{ firstHero?.displayName }}</h2></div>

    <div class="property-details">
      <div *ngFor="let property of showProperties">
        <div *ngIf="property.checked">
          <div *ngIf="property.name === 'startingArmor'"> startingArmor: {{ firstHero?.stat?.startingArmor }}</div>
          <div *ngIf="property.name === 'startingMagicArmor'">startingMagicArmor: {{ firstHero?.stat?.startingMagicArmor }}</div>
          <div *ngIf="property.name === 'startingDamageMin'">startingDamageMin: {{ firstHero?.stat?.startingDamageMin }}</div>
          <div *ngIf="property.name === 'startingDamageMax'">startingDamageMax: {{ firstHero?.stat?.startingDamageMax }}</div>
          <div *ngIf="property.name === 'attackRange'">attackRange: {{ firstHero?.stat?.attackRange }}</div>
          <div *ngIf="property.name === 'moveSpeed'">moveSpeed: {{ firstHero?.stat?.moveSpeed }}</div>
        </div>
      </div>
    </div>

    <div *ngIf="!loading">
        <div><h2>{{ secondHero?.displayName }}</h2></div>
        <div class="property-details">
          <div *ngFor="let property of showProperties">
            <div *ngIf="property.checked">
              <div *ngIf="property.name === 'startingArmor'"> startingArmor: {{ secondHero?.stat?.startingArmor }}</div>
              <div *ngIf="property.name === 'startingMagicArmor'">startingMagicArmor: {{ secondHero?.stat?.startingMagicArmor }}</div>
              <div *ngIf="property.name === 'startingDamageMin'">startingDamageMin: {{ secondHero?.stat?.startingDamageMin }}</div>
              <div *ngIf="property.name === 'startingDamageMax'">startingDamageMax: {{ secondHero?.stat?.startingDamageMax }}</div>
              <div *ngIf="property.name === 'attackRange'">attackRange: {{ secondHero?.stat?.attackRange }}</div>
              <div *ngIf="property.name === 'moveSpeed'">moveSpeed: {{ secondHero?.stat?.moveSpeed }}</div>
            </div>
          </div>
        </div>
  
  </div>
   -->


   <!-- <div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
  </div>

  <div class="property-checkboxes">
    <div *ngFor="let property of showProperties">
      <label class="property-checkbox">
        <input type="checkbox" [(ngModel)]="property.checked"><span>{{ property.name }}</span>
      </label>
    </div>
  </div>

   <div class="hero-comparison">
    <div class="hero-container">
      <div *ngIf="!loading">
        <div><h2>{{ firstHero?.displayName }}</h2></div>
        <div class="property-details">
          <div *ngFor="let property of showProperties">
            <div *ngIf="property.checked">
              <div class="property">
                <div class="property-name">{{ property.name }}</div>
                <div class="property-value">{{ firstHero && firstHero.stat && firstHero.stat[property.name] }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-container">
      <div *ngIf="!loading">
        <div><h2>{{ secondHero?.displayName }}</h2></div>
        <div class="property-details">
          <div *ngFor="let property of showProperties">
            <div *ngIf="property.checked">
              <div class="property">
                <div class="property-name">{{ property.name }}</div>
                <div class="property-value">{{ secondHero && secondHero.stat && secondHero.stat[property.name] }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


   -->








   <div *ngIf="loading" class="spinner-container">
  <div class="spinner"></div>
</div>

<div class="property-checkboxes">
  <div *ngFor="let property of showProperties">
    <label class="property-checkbox">
      <input type="checkbox" [(ngModel)]="property.checked"><span>{{ property.name }}</span>
    </label>
  </div>
</div>

<div class="hero-comparison">
  <div class="hero-container">
    <div *ngIf="!loading">
      <h2>{{ firstHero?.displayName }}</h2>
      <div class="properties-table">
        <table>
          <tbody>
            <ng-container *ngFor="let property of showProperties">
              <tr *ngIf="property.checked">
                <td class="property-name">{{ property.name }}</td>
                <td class="property-value">{{ firstHero && firstHero.stat && firstHero.stat[property.name] }}</td>
                <td class="property-value">{{ secondHero && secondHero.stat && secondHero.stat[property.name] }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="hero-container">
    <div *ngIf="!loading">
      <h2>{{ secondHero?.displayName }}</h2>
      <div class="properties-table">
        <table>
          <tbody>
            <ng-container *ngFor="let property of showProperties">
              <tr *ngIf="property.checked">
                <td class="property-name">{{ property.name }}</td>
                <td class="property-value">{{ secondHero && secondHero.stat && secondHero.stat[property.name] }}</td>
                <td class="property-value">{{ firstHero && firstHero.stat && firstHero.stat[property.name] }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>