<div class="compare-wrapper">
<div class="toBeCompared">compare to:
  <app-hero-dropdown (heroSelectedEvent)="secondHeroName=$event"></app-hero-dropdown>
  <li class="list-inline-item">
    <button class="btn btn-info compare" [routerLink]="['/hero-comparison', hero?.displayName, secondHeroName]">Compare</button>
  </li>
</div>
</div>


<div *ngIf="loading" class="spinner-container">
  <div class="spinner"></div>
</div>

<div *ngIf="!loading">
<div class="checkbox-wrapper"><app-hero-property-checkboxes [showProperties]="showProperties" (selectedProperties)="onPropertySelection($event)"></app-hero-property-checkboxes></div>
<div><app-hero-properties [hero]="hero" [selectedProperties]="showProperties"></app-hero-properties></div>
</div>
