footer {
    font-size: 50%;
    text-align: center;
    margin-top: 10em;
}

footer p {
    justify-content: center;
    align-items: center;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    text-decoration: underline;
}